.scrollbar{
    &-none {
		&::-webkit-scrollbar {
				display: none;
			}
	}
	&-style{
		&::-webkit-scrollbar {
			height: .3rem;
            border-radius: .3rem;
		}
        &::-webkit-scrollbar-track {
            background: $light;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: .25rem;
            background: $secondary;
        }
	}
}