.card{
    &-style{
        position: relative;
        &__appendix{
            position: absolute;
            top: 0;
            left: 20px;
            transform: translateY(-50%);
            padding: 4px 16px;
            border-radius: 50rem; // rounded-pill
        }
    }
    &-CV{
        position: relative;
        margin-top: 48px;
        height: 418px;
        &__avatar{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            width: 96px;
            height: 96px;
        }
        &__info{
            padding-top: 56px;
        }
    }
}
